@model List<CourseMessages>
@{
    ViewData["Title"] = "Messages";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
    int order = (ViewBag.SelectedPage - 1) * 2 + 1;
}

<div class="container-fluid">
<h1>Messages</h1>
    <table class="table table-striped">
        <thead>
            <tr style="align-items:center">
                <th scope="col">#</th>
                <th scope="col">FullName</th>
                <th scope="col">CreatedAt</th>
                <th scope="col">Subject</th>
                <th scope="col">Message</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="align-items:center">
                    <th scope="row">@order</th>
                    <td>@item.appUser.UserName</td>
                    <td>@item.SendedAt.ToString("HH:mm dd.MM.yyyy")</td>
                    <td>@item.Subject</td>
                    @if (item.Message.Length > 60)
                    {
                        @(item.Message.Substring(0,60) + " ......")
                    }
                    else
                    {
                        <td>@item.Message</td>
                    }
                    <td><a asp-action="MessageDetails" asp-route-messageId="@item.Id" class="btn btn-warning">Details</a> </td>
                </tr>

                order++;
            }

        </tbody>
    </table>

    @if (ViewBag.TotalPage > 1)
    {
        <div class="d-flex" style="justify-content:center !important">
            <nav aria-label="...">
                <ul class="pagination">
                    @if (ViewBag.SelectedPage == 1)
                    {
                        <li class="page-item disabled">
                            <a class="page-link " asp-action="messages" asp-route-page="@(ViewBag.SelectedPage)" asp-route-courseId="@ViewBag.courseId">Prev</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link " asp-action="messages" asp-route-page="@(ViewBag.SelectedPage-1)" asp-route-courseId="@ViewBag.courseId">Prev</a>
                        </li>
                    }
                    @for (int i = 1; i <= ViewBag.TotalPage; i++)
                    {
                        <li class="page-item @(i==ViewBag.SelectedPage?"active":"")"><a class="page-link" asp-action="messages" asp-route-page="@i" asp-route-courseId="@ViewBag.courseId">@i</a></li>
                    }
                    @if (ViewBag.SelectedPage == ViewBag.TotalPage)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" asp-action="messages" asp-route-page="@(ViewBag.SelectedPage)" asp-route-courseId="@ViewBag.courseId">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="messages" asp-route-page="@(ViewBag.SelectedPage+1)" asp-route-courseId="@ViewBag.courseId">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    }
</div>

