@model HomeViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Background Area Start -->
<section id="slider-container" class="slider-area">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->

        @foreach (var item in Model.Sliders)
        {
            <div class="single-slide item" style="background-image: url(../img/slider/@item.Image)">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-md-offset-left-5">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content">
                                        <h3>@item.Title</h3>
                                        <p>
                                            @item.Description
                                        </p>
                                        <a class="default-btn" asp-action="about">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
            <!-- End Slingle Slide -->
            }

        </div>
</section>
<!-- Background Area End -->
<!-- Notice Start -->
<section class="notice-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left" style="height:586px!important">
                    <h3>notice board</h3>
                    @foreach (var item in Model.NoticeBoards)
                    {
                        <div class="single-notice-left mb-25 pb-25">
                            <h4>@item.NoticeDate.ToString("d, MMMM yyyy")</h4>
                            <p>
                                @item.NoticeText
                        </p>
                    </div>
                }
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right">
                    @foreach (var item in Model.Features)
                    {
                        <div class="single-notice-right mb-25 pb-25">
                            <h3>@item.Title</h3>
                            <p>
                                @item.Description
                        </p>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->
<!-- Choose Start -->
<section class="choose-area pb-85 pt-77">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-left-4 col-sm-8 col-md-offset-left-4">
                <div class="choose-content text-left">
                    <h2>WHY YOU CHOOSE EDUHOME ?</h2>
                    <p>
                        @Model.Setting.FirstBannerTextPart
                </p>
                <a class="default-btn" asp-action="index" asp-controller="course">view courses</a>
            </div>
        </div>
    </div>
</div>
</section>
<!-- Choose Area End -->
<!-- Courses Area Start -->
<div class="courses-area pt-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">

            @foreach (var item in Model.Courses)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course">
                        <div class="course-img">
                            <a asp-action="details" asp-controller="course" asp-route-id="@item.Id">
                                <img src="~/img/course/@item.Image" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a asp-action="details" asp-controller="course" asp-route-id="@item.Id">@item.CourseName</a></h3>
                            <p>
                                @item.CoursePosterContent
                        </p>
                        <a class="default-btn" asp-action="details" asp-controller="course" asp-route-id="@item.Id">read more</a>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Event Area Start -->
<div class="event-area one text-center pt-140 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @for (int i = 0; i < ViewBag.Length / 2; i++)
            {
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a asp-action="details" asp-controller="event" asp-route-id="@Model.Events[i].Id">@Model.Events[i].StartDateDayMonth.Day <span>@Model.Events[i].StartDateDayMonth.ToString("MMM")</span></a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a asp-action="details" asp-controller="event" asp-route-id="@Model.Events[i].Id">@Model.Events[i].EventName</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>@Model.Events[i].StartTime.ToString("hh\\:mm") AM - @Model.Events[i].EndTime.ToString("hh\\:mm") PM</li>
                                    <li><i class="fa fa-map-marker"></i>@Model.Events[i].Venue</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a asp-action="details" asp-controller="event" asp-route-id="@Model.Events[i].Id" class="default-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @for (int i = 0; i < ViewBag.Length / 2; i++)
            {
                <div class="col-md-6 hidden-sm hidden-xs">
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a asp-route-id="@Model.Events[ViewBag.Length / 2 + i].Id" asp-action="details" asp-controller="event">@Model.Events[ViewBag.Length / 2 + i].StartDateDayMonth.Day <span>@Model.Events[ViewBag.Length / 2 + i].StartDateDayMonth.ToString("MMM")</span></a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a asp-route-id="@Model.Events[ViewBag.Length / 2 + i].Id" asp-action="details" asp-controller="event">@Model.Events[ViewBag.Length / 2 + i].EventName</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>@Model.Events[ViewBag.Length / 2 + i].StartTime.ToString("hh\\:mm") AM - @Model.Events[ViewBag.Length / 2 + i].EndTime.ToString("hh\\:mm") PM</li>
                                    <li><i class="fa fa-map-marker"></i>@Model.Events[ViewBag.Length / 2 + i].Venue</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a asp-route-id="@Model.Events[ViewBag.Length / 2 + i].Id" asp-action="details" asp-controller="event" class="default-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (ViewBag.Addition != null)
            {<div>
                <div class="col-md-6 hidden-sm hidden-xs">
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a asp-action="details" asp-controller="event" asp-route-id="@Model.Events[ViewBag.Length-1].Id">@Model.Events[ViewBag.Length-1].StartDateDayMonth.Day <span>@Model.Events[ViewBag.Length-1].StartDateDayMonth.ToString("MMM")</span></a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a asp-action="details" asp-controller="event" asp-route-id="@Model.Events[ViewBag.Length-1].Id">@Model.Events[ViewBag.Length-1].EventName</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>@Model.Events[ViewBag.Length-1].StartTime.ToString("hh\\:mm") AM - @Model.Events[ViewBag.Length-1].EndTime.ToString("hh\\:mm") PM</li>
                                    <li><i class="fa fa-map-marker"></i>@Model.Events[ViewBag.Length-1].Venue</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a asp-action="details" asp-controller="event" asp-route-id="@Model.Events[ViewBag.Length-1].Id" class="default-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            }
        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class="single-testimonial">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="~/img/testimonial/testimonial.jpg" alt="testimonial">
                            </div>
                            <div class="testimonial-content">
                                <p>
                                    @Model.Setting.SecondBannerText
                            </p>
                            <h4>David Morgan</h4>
                            <h5>Student, CSE</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Testimonial Area End -->
