@model List<AdminViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
    int order = (ViewBag.SelectedPage - 1) * 2 + 1;
}
<div class="container-fluid">
<h1>Admins</h1>
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" asp-action="create">Add new</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr style="text-align:center">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr style="text-align:center">
                    <th scope="row">@order</th>
                    <td>@item.UserName</td>
                    <td>@item.RoleName</td>
                    <td>
                        <a asp-action="edit" asp-route-id="@item.UserId" class="btn btn-warning">Update</a>
                        <a asp-action="delete" asp-route-id="@item.UserId" class="btn btn-danger item-delete">Delete</a>
                    </td>
                </tr>

                order++;
            }

        </tbody>
    </table>
    @if (ViewBag.TotalPage > 1)
    {
        <div class="d-flex" style="justify-content:center !important">
            <nav aria-label="...">
                <ul class="pagination">
                    @if (ViewBag.SelectedPage == 1)
                    {
                        <li class="page-item disabled">
                            <a class="page-link " asp-action="index" asp-route-page="@(ViewBag.SelectedPage)">Prev</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link " asp-action="index" asp-route-page="@(ViewBag.SelectedPage-1)">Prev</a>
                        </li>
                    }
                    @for (int i = 1; i <= ViewBag.TotalPage; i++)
                    {
                        <li class="page-item @(i==ViewBag.SelectedPage?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
                    }
                    @if (ViewBag.SelectedPage == ViewBag.TotalPage)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.SelectedPage)">Next</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.SelectedPage+1)">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    }
</div>

@section Scripts
{
    <script>

        $(document).ready(function () {
            $(document).on("click", ".item-delete", function (e) {
                e.preventDefault();

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {

                        var url = $(this).attr("href");

                        fetch(url)
                            .then(response => response.json())
                            .then(data =>
                            {
                                if (data.status == 200) {
                                    location.reload(true);
                                }
                                else {
                                    Swal.fire(
                                        'Not found!',
                                        'test',
                                        'error'
                                    )
                                }
                            });


                    }
                })
            })
        })


    </script>
}

